.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.card{
    margin: 1rem 0;
}

.age-green {
  background-color: green;
  color: white;
}

.age-purple {
  background-color: purple;
  color: white;
}

.age-orange {
  background-color: orange;
  color: white;
}

.user-details-box {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media (max-width:768px) {
    .container{
        justify-content: space-evenly;
    }
}